/* ESTILOS APLICABLES A TODAS LAS PAGINAS */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    font-size: 1.2rem;
    font-family: 'Arimo', sans-serif;
}

body{
    margin: 0%;
}

header{
    background-color: black;
    color: azure;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: 2px;
}

h1, p{
    margin: 0.3rem;
}

nav{
    background-color: black;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
}

nav ul{ 
    display: flex;
    list-style: none;
    justify-content: space-evenly; 
}

nav ul li a{ 
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;    
}

section{
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 22, 22);
    color: bisque;
    border-radius: 10px;
}

footer ul{
    list-style: none; 
    display: flex;   
}

footer ul li a{
    color: green;  
}

footer ul li a i{
    font-size: 1.3rem;
    padding: 10px;
}

#productos{
    display: flex;
    justify-content: space-evenly;
    height: 540px;
}

#productos article{
    width: 300px;
    height: 270px;
    border: 1px solid silver;
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1.2s;
}

#productos article img{
    width: 80%;
}

#productos article:hover{
    height: 420px;
    transform: scale(1.1);
}

#acerca{
    /* Al dar un ancho menor al total de la página permitimos que la siguiente caja 
       semántica se sitúe a la derecha de la caja "main" */
    width: 69%;
    border-right: 1px solid lightgray;
}

#probemos > *{
    float: left;
    text-align: center;  
    /*En este caso permite que el aside no "caiga" cuando agrego el border-right a main */
    box-sizing: border-box;
}

/* Creamos un div para contener a los artículos y ponerlos de a 2 porque tienen ancho de 50% */
#articulos{
    display: flex;
    /* Agregamos "flex-wrap: wrap;" para que los articles dentro de esta caja puedan "caer" 
       y no queden en una sola línea */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#articulos article{
    width: 46%;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

aside{
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

img{
    padding: 20px;
}


form{
    width: 500px;
    margin: 0 auto;    
}

form > *{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input,label{
    font-size: 1.3rem;
    text-align: center;  
}

textarea{
    resize: none;
    height: 220px;
    font-size: 1.3rem;
}

input,textarea{
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: darkblue;
    color: white;
}

.dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

#novedades{
    float: left;    
    display: flex;
    text-align: center;  
    /*En este caso permite que el aside no "caiga" cuando agrego el border-right a main */
    box-sizing: border-box;
}

.nuevo{
    width: 50%;
    border: solid 1px grey;
    border-radius: 20px;
}
